form{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://tinyurl.com/5n7t94bc');
    background-repeat: no-repeat;
    width: 40%;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}