/* Dropdown Button */
#dashboard .dropdown .dropbtn {
    /* background-color: #04AA6D; */
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  #dashboard .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  #dashboard .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  #dashboard .dropdown .dropdown-content .btn {
    color: rgb(68, 0, 0);
    padding: 8px 8px;
    /* text-decoration: none; */
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  #dashboard .dropdown .dropdown-content .btn:hover {background-color: #fff9f9;}
  
  /* Show the dropdown menu on hover */
  #dashboard .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  #dashboard .dropdown:hover .dropbtn {background-color: orange;}
  
  .section .list table {
    border: 2px solid black;
    /* padding:10px 10px 10px 10px; */
    
  }
  .section .list table tr td, .section .list table tr th{
    border: 2px solid black;
    align-items: center;
    width: 200px;
  }

  .section .list table tr{
    width: 200px;
  }

  .section .list table tr td{
    margin-left: 40px;
  }

 .section .list .menuitem, .section .list .fooditem{
    display: grid; 
    grid-column: 2;
    grid-template-columns: 2fr 2fr 2fr ;
  }  